{% extends "website/base.html" %}

{% block titleblock %}Home{% endblock %}

{% block header_ext %}
{% endblock %}

{% block sidebar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed;">
    <div class="container-fluid">
        Was ist Taltanis?<br>
        Womit spielst du Taltanis?<br>
        Für wen ist Taltanis?<br>
        Neu hier?<br>
        Nicht ganz so neu?<br>
        MUD-Profi?<br>
        Moderation<br>
        Perpetual Beta<br>
        Das Gendern
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Willkommen in Taltanis!</h1>

                <hr />

                {% if webclient_enabled %}
                <p class="lead">
                    Eine phantastische Welt voll famoser Abenteuer, heldenhafter Prinzessinnen und verzauberter Drachen!
                    <!--a href="{% url 'webclient:index' %}">Jetzt spielen!</a-->
                </p>
                {% endif %}
                <h2>
                    Was ist Taltanis?
                </h2>
                <p class="test1">
                    Taltanis ist ein Spiel, und zwar ein "Multi User Dungeon". Kurz: ein MUD. In diesem Spiel erschaffst
                    du dir
                    eine Spielfigur in einer Fantasy-Welt, die du dann frei erkunden kannst. Und in der du, zusammen mit
                    den anderen Spielerinnen und Spielern, spannende Abenteuer und große Herausforderungen erlebst.
                    Versprochen!
                </p>
                <p class="test2">
                    Taltanis ist also ein Mehrpersonen-Online-Rollenspiel, das in einer offenen Welt spielt. Also ein
                    Open-World-MMORPG.
                    Das Besondere an einem MUD ist, dass alles *textbasiert* ist - alles im Spiel wird durch Text
                    beschrieben.
                    Es gibt keine aufwändigen Grafiken und keinen Sound, nur deine Fantasie. Einen Eindruck davon, wie
                    das in
                    etwa aussieht, bekommst du in [[diesem Video||Video erstellen!]].
                </p>
                <h2>
                    Womit spielst Du Taltanis?
                </h2>
                <p class="test3">
                    Für den Anfang kannst Du einfach im Browser spielen. Dazu musst Du nur oben auf unseren Webseiten
                    auf "Jetzt spielen!" klicken.
                </p>
                <p>
                    Auf Dauer findest du es vielleicht bequemer, einen "MUD-Client" zu verwenden. Da gibt es
                    verschiedene, und eigentlich
                    sollte Taltanis mit allen funktionieren. Wir haben dir [[hier]] eine kleine Auswahl und eine
                    Anleitung
                    zusammengestellt. Und eine Empfehlung findest du dort auch.
                </p>
                <p>
                    Telnet und ähnliches funktioniert natürlich auch. Aber wenn das für Dich in Frage kommt, dann bist
                    Du Profi und wir müssen Dir nichts darüber sagen. Die Zugangsdaten findest du [[hier]].
                </p>
                <h2>
                    Für wen ist Taltanis?
                </h2>
                <p>
                    Taltanis ist ein Spiel für all jene, die gern Fantasy-Bücher lesen. Und die gern selbst das
                    Abenteuer erleben würden, statt immer nur der Handlung zu folgen.
                </p>
                <p>
                    Taltanis ist ein Spiel für all jene, die Pencil- & Paper-Rollenspiele kennen und mögen. Und die mal
                    auf die stickige Luft und die irgendwann vielleicht nicht mehr so gut riechenden Mitspielerinnen und
                    Mitspieler verzichten wollen.
                </p>
                <p>
                    Und Taltanis ist ein Spiel für alle jene, die gern Fantasy-Rollenspiele am Computer spielen. Und die
                    sich mehr auf ihre eigene Phantasie verlassen wollen als auf das Grafikteam der Spielehersteller.
                </p>
                <p>
                    Kurz: Taltanis ist ein Spiel für alle jede, die Fantasy mögen. Und die in eine Welt der Phantasie
                    eintauchen wollen, in der sie ihr Schicksal selbst bestimmen.
                </p>
                <h2>
                    Die Gemeinschaft
                </h2>
                <p>
                    Im Gegensatz zu kommerziellen MMOROGs wird ein MUD immer nur von einer kleinen Gruppe von Spielenden
                    genutzt. Das hat sicher auch damit zu tun, dass es eher ein Nischenspiel ist. Aber vor allem auch
                    damit, dass die Welt einfach nicht so groß ist, die Möglichkeiten nicht so zahlreich sind.
                </p>
                <p>
                    Da wir also vergleichsweise <i>wenige</i> sind, legen wir um so mehr Wert auf eine gute
                    Gemeinschaft. Du musst nicht alles mitmachen, was dir hier geboten wird. Und natürlich musst
                    du auch nicht alles in einer Gruppe machen. Aber du solltest dich dann wenigstens so verhalten,
                    dass andere nicht durch dich gestört werden.
                </p>
                <h2>
                    Neu hier?
                </h2>
                <p>
                    Wenn du noch nie ein MUD gespielt hast, dann haben wir eine Einführung für dich vorbereitet. Danach
                    weißt du alles, was du für den Anfang benötigst: [[Zur Einführung für neue Spieler.|Neu_hier.md]]
                </p>
                <h2>
                    Nicht ganz so neu?
                </h2>
                <p>
                    Wenn du dich mit MUDs schon auskennst, dann wirst du vieles aus dieser Einführung schon wissen. Lies
                    dir aber bitte trotzdem mindestens die [[Hinweise an die Spielerinnen und Spieler]] sowie die
                    [[Spielervereinbarung]] durch. Danach reichen dir dann vielleicht folgende Stichpunkte:
                </p>
                <ul>
                    <li>Taltanis bietet keinen Gastzugang an. Du beginnst das Spiel mit deinem ersten Charakter.
                    </li>
                    <li>Du benötigst ein Spielerkonto, um deinen ersten Charakter anlegen zu können. Später kannst du
                        innerhalb dieses Kontos weitere Charaktere anlegen.
                    </li>
                    <li>Die Erschaffung des ersten Charakters findet innerhalb eines kleinen Tutorials statt, das dich
                        mit den Grundlagen des Spiels vertraut macht. Dieses Tutorial findet in einem geschützten
                        Bereich statt, in dem du dich erstmal ein bisschen ausprobieren kannst.
                    </li>
                    <li>Du kannst das Tutorial jederzeit unterbrechen und später fortsetzen. Deine Fortschritte werden
                        gespeichert. Insgesamt nimmt das Tutorial etwa eine Stunde deiner Zeit in Anspruch.
                    </li>
                    <li>Danach betrittst du die eigentliche Welt von Taltanis.
                    </li>
                </ul>
                <h2>
                    MUD-Profi?
                </h2>
                <p>
                    Wenn du schon Profi bist, was MUDs angeht, interessiert dich vielleicht folgendes:
                </p>
                <ul>
                    <li>Taltanis richtet sich in erster Linie an Spieler, die das soziale Miteinander und das Erforschen
                        und Erleben einer fantastischen Welt mögen.
                    </li>
                    <li>Erfahrungspunkte und Level sind gedeckelt. Ständiges Metzeln/EPsen ist möglich, bringt aber
                        nichts ein.
                    </li>
                    <li>Wir sind kein explizites Rollenspiel-MUD, legen aber Wert auf ein Verhalten, dass das
                        vorgegebene Szenario berücksichtigt.
                    </li>
                    <li>Wir achten darauf, dass unsere Gäste ein angenehmes Umfeld vorfinden. Und sich daran beteiligen,
                        dieses Umfeld auch zu erhalten.
                    </li>
                </ul>
                <h2>
                    Moderation
                </h2>
                <p>
                    Hier wird moderiert, und zwar konsequent. Für die meisten Spieler wird das kein Problem sein.
                    Solltest du aber befürchten, dass dein Benehmen ungeeignet ist, um unser Gast zu sein, dann
                    gibt es eine ganz einfache Lösung: Sei nicht unser Gast! Auch andere Entwickler haben schöne
                    Spiele.
                </p>
                <p>
                    Moderation soll nicht bestrafen, sondern das MUD und die Ressourcen hier freimachen für diejenigen,
                    die sich auf angenehme Weise an Taltanis beteiligen. Notwendigerweise wird in diese Regulierung
                    so wenig Zeit wie möglich investiert. Hab also bitte Verständnis dafür, dass wir nicht endlos mit
                    dir diskutieren, wie irgendetwas gemeint gewesen sein könnte. Sondern dass die Moderatoren gehalten
                    sind, schnell und effektiv für einen ungestörten Ablauf zu sorgen.
                </p>
                <h2>
                    Perpetual Beta
                </h2>
                <p>
                    Beachte bitte: Taltanis ist ein Spiel, das ständig weiter entwickelt wird. Und das bedeutet *nicht
                    nur*, dass es immer wieder neue Inhalte geben wird. Sondern es bedeutet vor allem, dass sich
                    bestehende Inhalte ändern werden. Und vielleicht sogar ausgebaut werden. Es bedeutet zum Beispiel
                    auch, dass sich ganz grundlegende Konzepte ändern können. Sowas wie das Kampfsystem etwa. Oder die
                    Balance zwischen Gilden. Oder die Stärke von Waffen und Gegner. Aus Spielersicht wird manches
                    vielleicht besser werden - mit Sicherheit aber vieles auch mal schlechter. Und es wird dabei keine
                    Rücksicht auf Eigenschaften oder Errungenschaften der Spielercharaktere genommen. Oder auf
                    Gewohnheiten der Spieler.
                </p>
                <h2>
                    Das Gendern
                </h2>
                <p>
                    Manche Entscheidungen mussten gefällt werden, bevor mit der Entwicklung des Spiels begonnen werden
                    konnte. Und dazu gehört die Sache mit dem Gendern und dem generischen Maskulinum.
                </p>
                <p>
                    Das Medium eines MUDs ist der Text. Und wesentlich für die Qualität eines Textes ist die
                    Zugänglichkeit.
                    Darin unterscheidet sich ein MUD nicht von einem Roman. Und deshalb orientieren wir uns hier mit
                    unserer
                    Sprache (und unserer Rechtscheibung) an der derzeit auch im Roman üblichen Form. In dem Bewußtsein,
                    dass
                    in der Gesellschaft zunehmend Alternativen ausprobiert werden. Von denen sich sicherlich auch einige
                    durchsetzen werden.
                </p>
                <p>
                    Wir tun das in dem Bewusstsein, dass sich später derart grundsätzliche Änderungen am MUD nur schwer
                    vornehmen
                    lassen werden. Dass wir also einen später vielleicht gegebenen gesellschaftlichen Konsens nicht mehr
                    abbilden
                    werden können.
                </p>
                <p>
                    Wenn das Spiel dadurch für dich unerträglich ist, dann bedauern wir das. Aber wir sehen derzeit
                    keine
                    Alternative dazu.
                </p>


            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12 col-md-4 mb-3">
        <div class="card">
            <h4 class="card-header text-center">Accounts</h4>

            <div class="card-body">
                <p>
                    There's currently <strong>{{num_accounts_connected}}</strong> connected out of a total of
                    <strong>{{num_accounts_registered}}</strong>
                    account{{num_accounts_registered|pluralize}} registered.
                </p>
                <p>
                    Of these, <strong>{{num_accounts_registered_recent}}</strong> were created this week, and
                    <strong>{{num_accounts_connected_recent}}</strong>
                    have connected within the last seven days.
                </p>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 mb-3">
        <div class="card">
            <h4 class="card-header text-center">Recently Connected</h4>

            <div class="card-body px-0 py-0">
                <ul class="list-group">
                    {% for account in accounts_connected_recent %}
                    <li class="list-group-item">{{account.username}}&mdash;<em>{{account.last_login|timesince}} ago</em>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 mb-3">
        <div class="card">
            <h4 class="card-header text-center">Database Stats</h4>

            <div class="card-body py-0 px-0">
                <ul class="list-group">
                    <li class="list-group-item">{{num_accounts_registered}} account{{num_accounts_registered|pluralize}}
                        (+ {{num_characters}} character{{num_characters|pluralize}})
                    </li>
                    <li class="list-group-item">{{num_rooms}} room{{num_rooms|pluralize}} (+ {{num_exits}} exits)</li>
                    <li class="list-group-item">{{num_others}} other objects</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--div class="row">
    <div class="col">
        <div class="card">
            <h4 class="card-header text-center">Evennia</h4>

            <div class="card-body">
                <p><a href="http://evennia.com">Evennia</a> is an open-source MUD server built in
                    <a href="http://python.org">Python</a>, on top of the
                    <a href="http://twistedmatrix.com">Twisted</a> and
                    <a href="http://djangoproject.com">Django</a> frameworks. This
                    combination of technologies allows for the quick and easy creation
                    of the game of your dreams - as simple or as complex as you like.</p>
            </div>
        </div>
    </div>
</div-->
{% endblock %}