{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">FAQ</h1>

                <hr/>

                <p class="lead">
                    Fragen die gestellt wurden oder von denen ich  mir gewünscht hätte, sie würden gestellt werden...
                </p>
                <h2>Rubrik 1</h2>
                <h3>1. Frage</h3>
                <p>
                    Antwort auf die erste Frage
                </p>
                <h3>Mein Ansehen ist so niedrig, was kann ich tun?</h3>
                <p>
                    Naja, zunächst solltest du wohl mal darüber nachdenken, warum das so ist. Dein Ansehen zeigt dir, wie gut du im Spiel ankommst. Und wenn dein Ansehen niedrig ist, dann sagt das halt aus, dass du hier nicht sonderlich gern gesehen bist.
                </p>
                <p>
                    Und wenn du rausgefunden hast, was an deinem Verhalten dein schlechtes Ansehen verursacht hat, dann solltest du vielleicht andere Verhaltensweise ausprobieren. Vielleicht klappt es ja und es gelingt dir, mehr Menschen davon zu überzeugen, dass du ein gern gesehenes Mitglied unserer kleinen Community sein willst.
                </p>
                <h3>Ich wurde (für die Zeitung|temporär|auf Dauer) gesperrt und möchte das aber nicht akzeptieren. Was kann ich tun.</h3>
                <p>
                    Du hast die Möglichkeit, dich an die Administratoren zu wenden, um zu erreichen, dass deine Strafe reduziert bzw. aufgehoben wird. Dazu musst du schriftlich begründen, warum die Administratoren das wollen sollten. Wie genau das abläuft, steht [[hier]]. (TBD)
                </p>
                <h2>Probleme mit anderen</h2>
                <h3>Frage: Ich wurde im Spiel von einem anderen Spieler/einer anderen Spielerin belästigt, und zwar per "rede". Ich habe Screenshots/ein Logfile erstellt und habe also einen Beweis. Wem kann ich diesen Beweis senden?</h3>
                <p>
                    Antwort: Erstmal leider niemandem. Die Vertraulichkeit des Wortes gilt auch hier, und was in direkter "rede" zwischen zwei Spieler:innen geschieht, fällt darunter. Was du allerdings machen darfst ist, einem guten Freund/einer guten Freundin von dem berichten, was dir passiert ist. Und dabei darfst du auch aus deinen Screenshots bzw. aus deinem Logfile zitieren. Wenn diese Person dann uns gegenüber bestätigen möchte, dass alles so passiert ist wie du uns das berichtest, dann hilft uns das sicher auch beim durchsetzen des Kodex.
                </p>
            </div>
        </div>
   </div>
</div>
{% endblock %}
