{% extends "base.html" %}

{% block sidebar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light"  style="position: fixed;">
    <div class="container-fluid">
	    1. Punkt<br>
		2. Punkt<br>
		3. Punkt
    </div>
</nav>		  
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Selbstverpflichtung der Administratoren</h1>

                <hr/>

                <p  class="lead">
                    Die Administratoren haben die Aufgabe übernommen, Taltanis zu betreiben, für 
                    einen ungestörten Ablauf zu sorgen und Taltanis für die Zukunft zu erhalten. 
                    Administratoren besitzen Taltanis nicht zwingend, aber sie haben 
                    das Hausrecht - und damit, im Kontext des Spiels, die absolute Macht. 
                    Insbesondere sind sie auch nicht an Regeln gebunden, die für alle anderen 
                    zwingend gelten. Alle Administratoren von Taltanis verpflichten sich jedoch, 
                    die folgende Erklärung einzuhalten, solange sie dies nicht daran hindert, 
                    ihre Aufgabe zu erfüllen.
                </p>
                <p>
                    Zweiter Absatz.
                </p>

                <h2>Ernennung</h2>

                <p>
                    Administrator von Taltanis wird 
                </p>
                <h2>1. Unter-Überschrift</h2>

                <p>
                    Absatz
                </p>
                <p>
                    Die Administratoren von Taltanis erklären außerdem, den Verhaltenskodex einzuhalten, 
                    so weit dies der Erfüllung ihrer Aufgabe nicht entgegen steht.
                </p>
                <p>
                <ul>
                    <li>
                        Listenpunkt 1
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock %}
