{% extends "base.html" %}

{% block sidebar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light"  style="position: fixed;">
    <div class="container-fluid">
	    1. Punkt<br>
		2. Punkt<br>
		3. Punkt
    </div>
</nav>		  
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Beschreibervereinbarung</h1>

                <hr/>

                <p  class="lead">
                    Erster Absatz.
                </p>
                <p>
                    Zweiter Absatz.
                </p>

                <h2>1. Unter-Überschrift</h2>

                <p>
                    Absatz
                </p>
                <p>
                <ul>
                    <li>
                        Listenpunkt 1
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--
    ##Beschreibervereinbarung

Spieler haben die Möglichkeit, sich an der Entwicklung von Taltanis zu beteiligen, ohne dafür den Status des "Adeligen" oder eines "Administrators" haben zu müssen. Die Beschreibervereinbarung regelt diese Beteiligung.


Vertrag über die Mitarbeit als Beschreiber im Kommunikationsmedium Avalon

§ 1 Begriffsbestimmungen

Avalon ist ein computerbasiertes Kommunikationsmedium, welches seinen Teilnehmern unter gewissen Voraussetzungen die Möglichkeit bietet, durch aktives Schreiben von Texten dieses Medium weiterzuentwickeln. Die ausführenden Personen werden im Nachfolgenden Beschreiber genannt.

§ 2 Rechtsträger

Das Kommunikationsmedium Avalon wird durch seine Administratoren vertreten.

§ 3 Eigenleistung

Der Beschreiber versichert, ausschließlich solche Werke in Avalon zu veröffentlichen, die frei von Rechten Dritter sind. Die Veröffentlichung von Texten, die nicht vom Beschreiber allein geschaffen wurden oder an denen Dritte, insbesondere andere MUDs, Rechte haben, ist nur im Einverständnis mit dem Rechtsinhaber und den Administratoren Avalons zulässig. Jedwede Forderungen aus urheberrechtlichen Verletzungen, die ohne das Wissen der Administratoren Avalons begangen wurden, treffen ausschließlich den Beschreiber.

§ 4 Überlassung

Der Beschreiber willigt ein, diese Texte Avalon zeitlich unbegrenzt zur Verfügung zu stellen. Eine nachträgliche Löschung durch den Beschreiber ist nur im Einvernehmen mit den Administratoren Avalons möglich. Das Recht der Administratoren zur Löschung bleibt hiervon unberührt. Der Beschreiber verpflichtet sich, diese Inhalte ausschließlich Avalon zur Verfügung zu stellen. Abweichendes kann im Einvernehmen mit den Administratoren Avalons vereinbart werden. Der Beschreiber duldet Änderungen an diesen Inhalten, sofern diese zur Fortentwicklung Avalons notwendig sind.


Kodex für Beschreiber:

Kodex für Beschreiber

Regeln für alle beschreibende Mitentwickler. Dies ist kein Vertrag, sondern dies sind unsere Richtlinien und Tipps an Beschreiber.

Rechtliches

Wenn Du etwas zu diesem MUD hinzufügen möchtest - Beschreibungen, Programmcode, *Artwork* für die Webseite, egal was -, dann musst Du uns dafür ein unbeschränktes und unbegrenztes Nutzungsrecht einräumen. Damit schützen wir uns davor, dass Du uns die Nutzung irgendwann wieder untersagst, und wir dann Deinen Beitrag wieder löschen müssen. Das klingt vielleicht streng und auch ein bisschen unfreundlich. Aber es ist einfach eine Notwendigkeit.

Damit Du uns das Nutzungsrecht überlassen kannst, musst Du es natürlich selber erstmal haben. Und das ist zum Beispiel nicht der Fall, wenn Du Begriffe, Namen, Szenarien oder was auch immer aus den Werken anderen übernimmst. Deshalb möchten wir keine Kopien und auch keine umfangreichen Zitate aus Büchern, Filmen oder ähnlichem. Kleine Zitate mögen manchmal gehen, aber die sollten dann auch wirklich sehr klein sein.

Wir bitten Dich also, uns zu versichern, dass Du Deine Beiträge selbst erstellt hast. Und dass Du uns das Nutzungsrecht überlässt. Wenn Du das nicht möchtest, dann müssen wir leider auf Deinen Beitrag verzichten.

Vergütung

Eine Vergütung Deines Beitrages können wir Dir leider nicht anbieten. Und zwar weder in der realen Welt in Form von Geld oder irgendeiner Sachleistung. Noch in unsere virtuellen Welt ("Ingame") in Form von was auch immer. Und Du erwirbst damit auch keinen irgendwie gearteten Anspruch oder irgendein Recht an das Spiel. Anders gesagt: Du schenkst uns Deine Leistung, ohne jede Einschränkung. Lediglich eine kleine Anerkennung in Form von Ingame-Titeln werden wir vielleicht zur Verfügung stellen.



Der rechtliche Rahmen (Abtretung der Nutzungsrechte und Versicherung, dass das Urheberrecht bei einem selbst liegt) wird in einem separaten Vertrag abgesteckt. Dieser wird gesondert unterschrieben und ist die Grundlage für die Tätigkeit als Beschreiber in Avalon. Das ist zum Beispiel der Beschreibervertrag für Spieler oder das sog. Copyright fuer Adlige.
Vorteile von Beschreibern

Beschreiber haben durch ihre Tätigkeit keine Vorteile in Avalon. Konkret dürfen Sie für ihre Arbeit im Spiel nicht belohnt werden (Ausrüstung, etc.) außer durch immaterielle Dinge (Titel, Fingertext, o.ä.). Jegliche solche Belohnungen bedürfen der Zustimmung durch die Admins.
Pflichten von Beschreibern

Als Mitwirkender an Avalon hat ein Beschreiber, genauso wie ein jedes Mitglied der Tafelrunde, eine Vorbildfunktion gegenüber anderen Spielern auszuüben. Bedenkt bitte bei allem, was ihr tut, dass ihr durch Eure Mitwirkung auch das Projekt vertretet. Sollte der Beschreiber Wissen erlangen über das Beschriebene und über noch nicht vollendete Projekte, so muss mit diesem Wissen verantwortungsvoll umgegangen werden und eine Weitergabe an andere Spieler vermieden werden. Ein Beschreiber baut natürlich auch keine geheimen Vorteile für sich selbst ein.

Avalons Konzepte

Avalons Welt ist eine Fantasy Welt. Dies wird sehr streng ausgelegt. Man nennt dies auch Hohe Fantasy. Vorbild ist eine mittelalterliche Welt mit einer in sich abgeschlossenen Geschichte. Wir entlehnen keine Handlungen, Orte oder Personen (mehr) aus anderen bekannten Fantasywelten.

Falls unklar ist, ob etwas nach Avalon passt, muss dies mit dem projektverantwortlichen Adeligen oder einem Admin abgeklärt werden.
Beschreibungsrichtlinien:
Sprachliches:

- keine Umgangssprache
- keine Schimpfworte, nichts Widerwärtiges, Anstößiges, Groteskes, Diskriminierendes oder gar Illegales
- keine Anglizismen
- Du, Dir, Dich, Dein, etc. werden großgeschrieben
- Umlaute und ß werden umschrieben (oe,ae,ue,ss)

Gestaltung:

- Details sind wichtig
- Hauptbeschreibungen (sog. "longs") sind immer länger als ein Satz
- jedes erwähnte (nicht abstrakte) Detail muss beschrieben werden
- auch Details von Details müssen beschrieben werden
- Boden, Decke, Wände (wo anwendbar) sollten beschrieben werden
- Gerüche und Geräusche sollten gesetzt werden, wenn sinnvoll
- Gegenstände sollten untersucht werden können um Geheimnisse oder interessante Details zum Vorschein zu bringen.
- Schrift sollte man "lesen" können
- ein Raum muss in das Gefüge umliegender Räume passen
- man darf keine Spielernamen verewigen. Das betrifft Freunde, Partner, Adlige - selbst wenn sie es verdient haetten
- NPCs, die einer Spielerrasse angehören, aber im krassen Widerspruch zum deren Rassenthematik stehen, müssen mit den betreffenden Rassenlords abgesprochen werden

Hintergrund:

- beachte die Avalon-Geschichte, widerspreche ihr nicht
- es duerfen keine (lebenden) Olatharn und kein Altes Volk eingebaut werden
- es duerfen keine von Olatharn hinterlassenen Gegenstände eingebaut werden
- es gibt keinen Stahl
- es gibt kein Schießpulver, keinen Sprengstoff o.a. neumodischen Kram

Beschreibungstipps:

- Gib Dir Mühe. Wir sind stolz auf unsere beschreiberische Tiefe. Wir brauchen nichts, was "schnell hingeknallt" wurde. Wenige qualitativ hochwertige Räume sind mehr wert als Hunderte von einzeiligen Räumen.
- Versuche Formulierungen wie "Du fuehlst Dich ..." zu vermeiden. Versuche die Gefühle im Spieler durch entsprechende Beschreibungen zu wecken, anstatt ihm vorzuschreiben, wie er sich zu fühlen hat.
- Versuche, die Avalon-Geschichte mit einzubauen. Neue Handlungsstränge müssen bitte unbedingt abgesprochen werden und dann auch dokumentiert.
- Für Texte in besonderen Sprachen (elfisch) frage einen Adeligen.

-->