{% extends "base.html" %}

{% block sidebar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light"  style="position: fixed;">
    <div class="container-fluid">
	    1. Punkt<br>
		2. Punkt<br>
		3. Punkt
    </div>
</nav>		  
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Datenschutzerklärung für das Spiel Taltanis</h1>

                <hr/>

                <p  class="lead">
                    Erster Absatz.
                </p>
                <p>
                    Zweiter Absatz.
                </p>

                <h2>1. Unter-Überschrift</h2>

                <p>
                    Absatz
                </p>
                <p>
                <ul>
                    <li>
                        Listenpunkt 1
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--
    # Datenschutzerklärung

Diese Datenschutzerklärung gilt für das Spiel Taltanis. Die Webseite von Taltanis hat eine eigene Datenschutzerklärung. Stand: 01. August 2021.

An personenbezogenen Daten erheben und speichern wir von dir:
* das von dir gewählte Pseudonym, unter dem du dein Spielerkonto anlegst
* beim Erstellen des Spielerkontos deine Email-Adresse
* bei jeder Nutzung des Spiels deine dann aktuelle IP-Adresse und die Zeit, in der du das Spiel nutzt.

Wir erheben und speichern diese Daten
* bei der Registrierung, bei jedem Besuch und ...
* auf Servern mit Standort in Deutschland

Diese Daten nutzen wir um
* dir auf deinen Wunsch ein neues Passwort zuzuschicken
* dir auf deinen Wunsch auch weitere Informationen zuzuschicken. Diese Möglichkeit kannst du ingame in deinem Spielerkonto aktivieren und auch wieder deaktivieren. (default: deaktiviert)
* Statistiken zu erstellen
* Spielregelverstöße aufklären zu können

Einsicht in diese Daten haben nur die Administratoren des Spiels. Die Daten werden aufbewahrt, so lange das Spielerkonto existiert. Die erstellten Statistiken werden länger aufbewahrt, sind aber anonymisiert.

Auf Wunsch erhältst Du Einsicht in die dich betreffenden Daten.

Der Zeitpunkt deines letzten Besuchts kann von allen Spielern abgerufen werden. Diese Möglichkeit kannst du jedoch im Spielerbuch deaktivieren.


Zusätzlich zu obigen Daten kann es vorkommen, daß Daten zum Verhalten des Charakters gesammelt werden, welche nicht unmittelbar zur Durchführung des Spiels benötigt werden. Diese Daten werden zusammen mit Deinem Pseudonym erhoben und dienen folgenden Zwecken:

Der Behebung von Fehlern: Wenn Fehler auftauchen, so wird gespeichert, wer was wo machte, als er diesen Fehler verursachte.
Für statistische und sonstige Informationszwecke: Für die Programmierer des Spiels ist es oftmals interessant, welche Spezialitäten wann von wem genutzt wurden.
Zur Verfolgung von Spielregelverstössen: Bei begründetem Verdacht können die Programmierer des Spiels ein Auge auf bestimmte Charaktere werfen und Ihre Beobachtungen abspeichern. Mit Ausnahme der Beobachtung durch die Administratoren erhält der betroffene Charakter dabei aber eine entsprechende Meldung.
Die Aufbewahrungsfristen dieser Daten sind unterschiedlich, sie stellen aber an sich keine personenbezogenen Daten dar. Ein Personenbezug kann daher mit der IP-Adresse nur zwei Monate lang bzw. nur mit Deinen freiwilligen Angaben hergestellt werden.

Freiwillig kannst Du bei uns Deine e-Mail-Adresse und Web-Seite angeben. Die e-Mail-Adresse wird nur verwendet, um

Dir ein neues Paßwort zuzuschicken, für den Fall, daß es erbeten wurde, oder um
mit Dir in Kontakt zu treten, falls wir Dich nicht im Spiel erreichen können.
Wir werden Deine e-Mail-Adresse auf keinen Fall an dritte Parteien weitergeben oder selber für Werbung nutzen.

Deine angegebene Homepage wird auf unserer Homepage, auf welcher wir eine Liste aller Homepages von Spielern haben, veröffentlicht und ist auch im Spiel für alle Spieler ersichtlich.

Deine freiwillig angebenen Daten werden sofort bei einer Änderung oder einen Monat nach Ausscheiden aus dem Spiel gelöscht. Die Aktualisierung auf der Homepage erfolgt in der Regel innerhalb von 24 Stunden, kann bei technischen Problemen aber auch länger dauern.

Wir führen regelmäßig Backups und Archivierungen des gesamten Spiels einschließlich erhobener Daten auf Band durch. Die Backups heben wir zwei Monate lang auf und enthalten alle erhobene Daten. Die Archive hingegen bestehen solange, wie es die Haltbarkeit der Bänder zuläßt. Sie umfassen aber nicht die im ersten Abschnitt genannten Listen von IP-Adresse und Uhrzeit. Diese Backups und Archive nutzen wir nicht zur Sammlung der personenbezogenen Daten, sondern um

einen Weiterbestand UNItopias auch bei einem totalen Datenverlust auf dem UNItopia-Rechner zu sichern, bzw. um
interessante Rückblicke auf die Entwicklung von UNItopia wie z.B. UNI1993 zu ermöglichen und
auf Wunsch der jeweiligen Spieler ältere Charaktere wiederzubeleben.

-->