{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Erklärung der Spielerrechte</h1>

                <hr/>

                <p>
Taltanis ist <b>kein</b> öffentlicher Raum, und die Regeln des öffentlichen Raumes gelten hier deshalb auch nur bedingt.
</p>
<p>
Taltanis <i>gehört</i> jemandem. In dem Sinne, dass jemand den Server anmietet und bezahlt, auf dem Taltanis läuft. Diese Person hat das uneingeschränkte Hausrecht und kann mit dem Server, der Installation und den Daten tun und lassen, was sie will.
</p>
<p>
Taltanis wird betrieben von den AdministratorInnen. Diese kümmern sich um die Installation, die Entwicklung und den Erhalt von Taltanis. Sie haben daher alle Möglichkeiten, die ihnen der direkte Zugriff auf die Technik gibt. Die AdministratorInnen üben ebenfalls das Hausrecht aus. Innerhalb des Spiels werden sie als "Götter" bezeichnet.
</p>
<p>
EntwicklerInnen sind in der Regel Spielende, die sich entschieden haben, das Spiel ebenfalls aktiv weiter zu entwickeln. Um dieser Aufgabe nachkommen zu können, haben EntwicklerInnen einen erweiterten Zugang zu den Daten und der Technik von Taltanis. Und damit haben sie auch mehr Macht als die anderen Spielenden. Es ist außerdem möglich, dass EntwicklerInnen mit der Durchführung weiterer Aufgaben beauftragt werden. Für die ihnen dann gegebenenfalls zusätzliche Macht verliehen wird. EntwicklerInnen werden innerhalb des Spiels als "Adelige" bezeichnet.
</p>
<p>
Und dann gibt es natürlich noch die SpielerInnen. Diese nutzen Taltanis, wie es ihnen zur Verfügung gestellt wird.
</p>
<p>
Es ist also eine Tatsache, dass es sehr unterschiedliche Rollen im Spiel gibt. Rollen, die jeweils mit unterschiedlich viel Macht, Möglichkeiten und Einfluss verbunden sind.
</p>
<p>
Gemeinsam haben diese Personen aber, dass sie Menschen sind. Und zwar Menschen, die sich zu einer Gemeinschaft zusammengeschlossen haben. Und daraus ergeben sich Rechte und Pflichten, die für alle gleichermaßen gelten.
</p>
<p>
Die folgenden Artikel beziehen sich natürlich auf die Person der Spieler bzw. der Administratoren, nicht auf die Spielfigur. So weit hier von "Kodex" die Rede ist, ist damit die Gesamtheit aller Regeln in Taltanis gemeint: Die Nutzungsbedingungen, die verschiedenen Vereinbarungen und der Verhaltenskodex.
</p>
<h2>
Artikel:
</h2>
<p>
1. Alle Spieler erhalten die gleichen Rechte, unabhängig von ihrer Macht im Spiel. Zusätzliche Macht wird zum Nutzen und zum Wohl des MUDs vergeben. Nicht aufgrund von persönlichen Beziehungen.
</p>
<p>
2. Spieler sind Menschen, und deshalb haben sie die Rechte von Menschen: Freiheit, Eigentum, Sicherheit der Person und Freiheit von Unterdrückung. (Allgemeine, nur durch Gesetz beschränkbare Handlungsfreiheit. Freiheit von willkürlichen Eingriffen in die Privatsphäre)
</p>
<p>
3. Administratoren haben das Hausrecht im Spiel, was sie sagen gilt. Spieler haben das Recht zu wissen, nach welchen Regeln und Standards Administratoren ihre Entscheidungen treffen.
</p>
<p>
4. Spieler sind frei zu tun und zu lassen, was sie wollen. So lange sie dabei nicht gegen den Kodex verstoßen.
</p>
<p>
5. Der Kodex soll nicht willkürlich sein. Die Regeln sollten darauf basieren, was gut für das MUD ist. Einschließlich der Software, der Hardware und der Daten.
</p>
<p>
6. Der Kodex soll sich mit der Spielkultur weiterentwickeln. Über die Änderungen bestimmen die Administratoren, aber die Spieler haben das Recht, gehört zu werden. Administratoren berücksichtigen die Meinungen der Spieler.
</p>
<p>
7. Sie können niemanden für etwas bestrafen, das nicht dem Verhaltenskodex entspricht. Der Missbrauch Ihrer Zauberkräfte ist ein schweres Verbrechen. Wenn Sie bei einem Verstoß gegen den Verhaltenskodex ertappt werden, geben Sie es auf.
</p>
<p>
7. Niemand darf für ein Verhalten bestraft werden, das nicht gegen den Kodex verstößt. Ein derartiger Missbrauch von Macht wäre selbst ein schwerwiegender Verstoß gegen den Kodex.
</p>
<p>
8. Niemand darf auf eine Weise bestraft werden, die nicht im Kodex vorgesehen ist. Der Kodex darf nicht nachträglich geändert werden, um rückwirkend eine andere Art Bestrafung zu ermöglichen. Die einzige Ausnahme davon sind Maßnahmen, die zwingend notwendig sind, um den Betrieb des Spiels nicht zu gefährden.
</p>
<p>
9. Spieler sind unschuldig, bis ihre Schuld bewiesen ist. Sie sind entsprechend zu behandeln.
</p>
<p>
10. Solange sie nicht spammen oder den Verhaltenskodex verletzen, sollten die Spieler frei sein, zu glauben, was sie wollen.
</p>
<p>
11. Solange sie nicht spammen oder den Verhaltenskodex verletzen, sollten die Spieler frei schreien, chatten, tratschen, posten oder auf andere Weise sagen können, was immer sie wollen.
</p>
<p>
12. Administratoren nutzen ihre zusätzlichen Möglichkeiten nicht zu ihrem persönlichen Nutzen oder nach ihren Launen, sondern ausschließlich zum Wohl und zum Nutzen des Spiels. Andernfalls werden ihnen diese Möglichkeiten entzogen. Das gilt auch, wenn Administratoren untätig sind ihre Möglichkeiten _nicht_ nutzen.
</p>
<p>
13. Die Spieler müssen möglicherweise bezahlen, um den Schlamm am Laufen zu halten. Sie sollten vorher wissen, wie viel sie zahlen müssen. Sie sollten keine unterschiedlichen Gehaltsskalen für verschiedene Spieler haben, es sei denn, diese anderen Spieler verursachen tatsächlich mehr Kosten. Wenn Sie es den Leuten erlauben, größere Privilegien zu kaufen, dann sollten Sie JEDEM Spieler erlauben, diese Privilegien zu kaufen, und nicht einige Leute davon ausschließen, weil Sie sie nicht mögen. Außerdem bedeutet die Bezahlung nicht, dass sie gottgleiche Kräfte haben, um andere Menschen zu braten – sie müssen diese Rechte immer noch befolgen.
</p>
<p>
14. Spieler haben das Recht zu erfahren, warum die Administratoren die Dinge so gemacht haben, wie sie es getan haben, z. B. warum sie einen Bereich gelöscht oder verschoben haben oder was auch immer. Vor allem, warum ein bestimmter Unsterblicher den einen wegen Spams gesperrt hat, den anderen aber vom Haken ließ. (Beachten Sie, dass Sie unter den gegebenen Umständen aus rechtlichen Gründen möglicherweise nicht dazu in der Lage sind).
</p>
<p>
15. Keine Ausnahmen vom Verhaltenskodex – er gilt für alle.
</p>
<p>
16. Löschen Sie keine Spielerdaten/Datenlöschungen, es sei denn, der Schlamm kann nicht überleben. Wenn Sie jemanden abwischen müssen, machen Sie es irgendwie wieder gut.
</p>
<p>
17. Lass die Leute im Schlamm rumhängen, wo immer sie wollen, mit wem sie wollen, es sei denn, es verursacht Schlammverlangsamungen oder so.
</p>
<p>
18. Spieler haben ein Recht auf Privatsphäre. Schnüffeln Sie sie nicht aus, spionieren Sie sie nicht aus oder durchsuchen Sie ihre Post, es sei denn, Sie untersuchen einen Verstoß gegen den Verhaltenskodex.
</p>
<p>
19. In diesem Dokument fehlt wahrscheinlich etwas.
</p>
<p>
Dieser Text basiert auf einem Text von Raph Koster: "Declaring the Rights of Players" ( https://www.raphkoster.com/games/essays/declaring-the-rights-of-players/ )
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
