{% extends "base.html" %}

{% block sidebar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light"  style="position: fixed;">
    <div class="container-fluid">
	    1. Punkt<br>
		2. Punkt<br>
		3. Punkt
    </div>
</nav>		  
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Nutzungsbedingungen (aka. Spielervereinbarung)</h1>

                <hr/>

                <p  class="lead">
                    Die Nutzungsbedingungen stellen die grundsätzlichen Regeln für die Teilnahme 
                    am Spiel Taltanis dar.
                </p>
                <p>
                    Wir gehen davon aus, dass unsere Spielenden erwachsene und verständige Menschen 
                    sind. Die diesen Text hier so verstehen können, wie er gemeint ist. Wir nehmen 
                    unsere Spielenden diesbezüglich auch in die Verantwortung. Das heißt, wir diskutieren 
                    nicht, und erst recht erklären wir die Nutzungsbedingungen nicht nachträglich. 
                    Wenn du beim Lesen dieses Textes das Gefühl hast, dass du ihn nicht verstehst, 
                    dann solltest du ihm auch nicht zustimmen. Wenn du das Gefühl hast, dass du mit 
                    dem Text nicht einverstanden sein kannst, dann kannst du ihm natürlich ebenfalls 
                    nicht zustimmen. In beiden Fällen kannst Du unser Angebot dann eben nicht nutzen. 
                </p>
                <p>
                    Die Zustimmung zu den Nutzungsbedingungen ist Voraussetzung für die Teilnahme 
                    am Spiel Taltanis.
                </p>

                <h2>1. Gegenstand</h2>

                <p>
                    Gegenstand dieser Vereinbarung ist ein textbasiertes Mehrspieler-Online-Rollenspiel 
                    ("Spiel"), dass von den Administratoren freiwillig betrieben und den Nutzern 
                    ("Spielern" einschließlich der Untergruppe "Entwicklern") kostenlos zur Verfügung 
                    gestellt wird. Ein Anspruch auf Nutzung des Spiels besteht in keinem Fall.
                </p>

                <h2>2. Haftungsausschluss</h2>
                
                <p>
                    Die Administratoren haften für keinerlei Schäden, die durch die Benutzung des 
                    Spiels entstehen, soweit dies nicht durch zwingende Haftung ausgeschlossen wird. 
                    Insbesondere haften die Administratoren nicht für Schäden, die durch Handlungen 
                    anderer Nutzer entstehen.
                </p>
                
                <h2>3. Durchführung</h2>
                
                <p>
                    Die Ausgestaltung und der Betrieb des Spiels obliegt allein der Maßgabe der 
                    Administratoren. Nutzer haben keinen Anspruch auf jegliche im Spiel erworbenen 
                    Inhalte ("Ingame-Inhalte"). Diese können aufgrund von technischen oder 
                    spielmechanischen Überlegungen modifiziert oder entfernt werden und Nachteile 
                    daraus werden nicht kompensiert. Dies gilt auch für ein technisches Fehlverhalten 
                    des Spiels.
                </p>

                <h2>4. Pflichten der Spieler</h2>

                <p>
                    Nutzer verpflichten sich zur Einhaltung der in diesen Nutzungsbedingungen 
                    angegebenen Punkte. Ein Verstoß kann disziplinarische Maßnahmen zur Folge 
                    haben. Die Beurteilung, ob und in welchem Rahmen ein Verstoß vorliegt, liegt 
                    immer im Ermessen der Administratoren.
                </p>

                <h3>4.1. Schummeln und Bugausnutzung</h3>
                
                <p>
                    Spieler verpflichten sich, gefundene Fehler des Spiels, die ihnen einen 
                    Vorteil im Spiel verschaffen, nicht auszunutzen.
                </p>
                <p>
                    Anmerkung: Wir bitten unsere Spieler, alle Arten von Fehlern mit dem Fehler, 
                    mit dem Detail oder mit dem Typo – Kommando zu melden. Nur so können wir 
                    das Spiel auf lange Sicht stetig verbessern.
                </p>
                
                <h3>4.2. Störungen</h3>
                
                <p>
                    Spieler verpflichten sich, durch ihre Handlungen den spielmechanischen und 
                    technischen Spielbetrieb nicht zu stören.
                </p>
                
                <h3>4.3. Belästigungen</h3>
                
                <p>
                    Spieler verpflichten sich, jegliche Handlungen zu unterlassen, die andere 
                    Nutzer belästigen oder stören.
                </p>
                
                <p>
                    Anmerkung: Verschiedene Leute haben unterschiedliche Schwellen, was sie als 
                    Belästigung empfinden. Die Admins können in der Praxis nicht in alle 
                    Streitigkeiten eingreifen. Wir bitten um ein gesundes Maß an Menschenverstand. 
                    Die meisten Streitigkeiten lassen sich sehr einfach direkt zwischen den 
                    Beteiligten klären.
                </p>
                
                <h3>4.4. Sanktionen</h3>
                
                <p>
                    Adelige und Administratoren haben verschiedene Möglichkeiten, auf Verstöße 
                    gegen die Nutzungsvereinbarung zu reagieren. Eine Sanktion, die von einem 
                    Adeligen verhängt wurde, muss von einem Administrator bestätigt werden. 
                    Alternativ kann der Administrator die Sanktion auch ändern oder ganz aufheben.
                </p>
                
                <p>
                    Die vorrangig zu wählende Sanktion ist immer, dass der Spieler seine 
                    Nutzungserlaubnis verliert. Ein Spieler, der unsere anderen Gäste belästigt, 
                    ist hier schlicht nicht erwünscht. In diesem Fall wird das Konto dauerhaft 
                    gesperrt. In Einzelfällen kann davon aber abgesehen werden. Das liegt im 
                    Ermessen des Adeligen, der sich damit befasst. Und des Administrators, der 
                    die Sanktion bestätigt.
                </p>
                
                <p>
                    Die Alternative zu einer sofortigen und dauerhaften Sperre des Spielerkontos 
                    ist eine Verwarnung. Eine Verwarnung geht immer einher mit einer Sperre des 
                    Benutzerkontos für einen begrenzten Zeitraum. Wie lang die Sperre dauert, 
                    liegt wieder im Ermessen des Adeligen bzw. des Administrators. Die dritte 
                    Verwarnung bewirkt ausnahmslos eine unbefristete Sperre des Spielerkontos. 
                    Ein Anspruch auf eine Verwarnung statt einer Sperrung besteht jedoch nicht.
                </p>
                
                <p>
                    In begründeten Ausnahmefällen ist es für Adelige und Administratoren möglich, 
                    lediglich eine Auszeit zu verhängen. Also eine kurzzeitige, befristete Sperre 
                    des Benutzerkontos. Dieses Mittel sollte gewählt werden, wenn sich der Spieler 
                    in einer emotional belasteten Situation befindet und selbst nicht in der Lage 
                    ist, sich zu regulieren. Und wenn auf Grund dessen die Gefahr besteht, dass 
                    eine Verwarnung nötig wird. Dieses Mittel ist sparsam einzusetzen - unsere 
                    Spieler sind erwachsene Menschen, von denen man erwarten kann, dass sie sich 
                    selbst regulieren. Eine Auszeit wird automatisch zu einer Verwarnung, wenn der 
                    Spieler in den vergangenen 4 Wochen schon eine Auszeit hatte. Ein Anspruch auf 
                    eine Auszeit statt einer Verwarnung oder einer Sperre besteht nicht.
                </p>
                
                <p>
                    Eine unbefristete Kontosperre aufzuheben ist ausnahmsweise möglich. Das Konto 
                    wird frühestens nach drei Monaten Sperre und nur auf schriftlichen Antrag des 
                    Kontoinhabers freigegeben. Dem schriftlichen Antrag ist zu entnehmen, warum 
                    das problematische Verhalten in Zukunft nicht mehr auftreten wird. Über den 
                    Antrag wird von einem Administrator entschieden. Der Spieler hat kein Anrecht, 
                    über die Entscheidung in Kenntnis gesetzt zu werden. Ebenso hat er keinen 
                    Anspruch auf eine Begründung. Ebenso hat er keinen Anspruch auf eine Entscheidung 
                    in seinem Sinn. Mehrfache Anträge sind nicht möglich. Nach dem ersten Antrag 
                    werden weitere Anträge ignoriert.
                </p>

                <h3>4.4. Spielerkonto</h3>
                
                <p>
                    Jeder Spieler benötigt für die Nutzung des Spiels ein Spielerkonto. Jeder Spieler 
                    darf nur genau ein Spielerkonto führen. Innerhalb eines Spielerkontos kann zunächst 
                    eine Spielfigur ("Charaktere") angelegt werden. Die Möglichkeit zum Anlegen weiterer 
                    Charaktere kann freigespielt werden. Jeder Spieler darf nur die Charaktere des 
                    eigenen Spielerkontos spielen.
                </p>

                <p>
                    Jeder Spieler versichert beim Anlegen des Spielerkontos, in der Vergangenheit kein 
                    gesperrtes Konto gehabt zu haben. Weder ein bestehendes, noch eins das gesperrt war,
                    als es gelöscht wurde. 
                </p>

                Zum Anlegen eines Spielerkontos ist eine Email-Adresse anzugeben. Diese Adresse 
                muss gültig sein und darf keine Einmal- bzw. Wegwerfadresse sein. Wenn du uns 
                keine echte Emailadresse von dir geben möchtest haben wir dafür Verständnis. 
                Und müssen dann leider auf deine Anwesenheit in unserem Spiel verzichten.
                
                       
                Einzelne Charaktere und ganze Spielerkonten können jederzeit gelöscht werden.  
                                
                <h3>4.4. Passwort</h3>

                <p>
                    Der Nutzer ist verpflichtet, ein sicheres Passwort für sein Spielerkonto 
                    zu wählen. Dieses Passwort darf unter keinen Umständen weitergegeben 
                    werden. Der Nutzer trägt die Verantwortung für alle mit seinem Konto 
                    ausgeführten Handlungen.
                </p>
                
                <h3>4.5. Email-Adresse</h3>
                
                <p>
                    Eine gültige Emailadresse, auf die der Nutzer Zugriff hat, muss am Account 
                    hinterlegt werden. Die Admins behalten sich vor, Accounts ohne gültige 
                    Email-Adressen zu sperren.
                </p>
                
                <p>
                    Anmerkung: Die Email wird in erster Linie dazu benötigt, um Charaktere 
                    bei vergessenem Passwort wiederherzustellen. Ohne Email kann ein Charakter 
                    nicht wiederhergestellt werden!
                </p>

                <h3>Konto- und Charakternamen</h3>

                <p>
                    Konto- und Charakternamen sind so zu wählen, dass sie keinen Anstoß erregen. 
                    Bei niemandem. Es ist verboten, Namen von lebenden oder bekannten Personen - 
                    echten oder fiktiven - zu verwenden. Charakternamen sind so zu wählen, dass 
                    sie in das Fantasy-Setting des Spiels passen. Der Spieler versichert, mit 
                    der Wahl 
                </p>

                <p>
                    Charakternamen sind so zu wählen, dass sie in das Fantasy-Setting unseres Spiels 
                    passen. Wir werden diese Regel eng auslegen.
                </p>

                <p>
                    Charakternamen von gelöschten Charakteren werden, wenn der Charakter ein gewisses Alter erreicht hatte, für die spätere Verwendung gesperrt. Charakternamen werden freigegeben, wenn das dazugehörige Spielerkonto gelöscht wird.
                </p>
                
                <h3>4.6. Spielregeln</h3>

                <p>
                    Der Nutzer verpflichtet sich folgende Spielregeln zu befolgen:
                </p>
                
                <p>
                    Skripten: Folgende Art von Skripten ist verboten: Automatisch Aktionen 
                    ausführen, wenn der Spieler mehr als 15 Minuten von der Tastatur 
                    abwesend ist.<br>
                    Anmerkung: Wir unterstützen es, dass Spieler die Bedienbarkeit Avalons 
                    per Skript verbessern und bemühen uns Nutzern, die Skripte wie 
                    Mapperskripte, clientseitige Datenbanken, grafische GUIs, Verbesserungen 
                    für Sprachausgabesoftware, usw. … entwickeln, zuzuarbeiten. Wir möchten 
                    aber verhindern, dass Avalon ein Spiel von zombieartigen Automata wird. 
                    Unsere Einstellung ist es, dass man zwar nicht alles selbst auf der 
                    Tastatur eingeben muss, aber dass man zumindest zum Kommunizieren mit 
                    anderen Mitspielern anwesend sein muss.
                </p>
                
                <p>
                    Zweitcharaktere: Es ist erlaubt Zweitcharaktere zu spielen und sogar 
                    gleichzeitig mit ihnen online zu sein, aber jegliche Interaktion 
                    zwischen Zweitcharakteren ist verboten.<br>
                    Anmerkung: Wir erlauben das Teilen von Quartieren und Möbeln zwischen 
                    Zweitcharakteren (sog. Zweities), aber verbieten streng dass Zweities 
                    sich im Kampf gegenseitig – in irgendeiner Weise – unterstützen.
                </p>
                
                <p>
                    Playerkill: Es ist verboten, Charaktere zu töten, wenn nicht Täter und 
                    Opfer im „schwarzen Buch“ stehen.<br>
                    Anmerkung: Das „schwarze Buch“ ist eine Markierung, anhand derer sich 
                    Spieler, die sog. Playerkill betreiben wollen, gegenseitig finden.
                </p>
                
                <p>
                    Werbersystem: Das Ausnutzen des Werbersystems (auch „Mentorensystems“), 
                    indem man sowohl sich wie auch Zweitcharaktere gegenseitig oder zyklisch 
                    als Werber einträgt, ist verboten.
                </p>
                
                <h3>4.7. Verhalten und Umgangston</h3>
                
                <p>
                    Wir fordern alle Nutzer auf, stets höflich und zivilisiert miteinander 
                    umzugehen. Insbesondere ist davon abzulassen, neue Spieler zu verspotten 
                    oder zu täuschen.
                </p>

                <h3>4.8. Entwicklerstatus</h3>

                <p>
                    Nutzer könnenn sich an der Entwicklung des Spiels beteiligen. Dies 
                    geschieht auf Berufung durch die Administratoren oder deren Stellvertreter. 
                    Entwickelnde Spieler befolgen einen zusätzlichen Regelsatz, der ihnen bei 
                    ihrer Ernennung zum Entwickler vorgelegt wird und den sie separat akzeptieren. 
                    Dieser Regelsatz gilt auch für ehemalige Entwickler.
                </p>
                
                <p>
                    Anmerkung: Spieler, die das Spiel mitprogrammieren, nennt man Adlige. 
                    Sie befolgen den sogenannten Adelskodex, der einen erweiterten 
                    Verhaltenskodex darstellt. Man kann Adliger werden, wenn man die 
                    Mindestvoraussetzungen erfüllt und einen Lehrmeister gefunden hat. 
                    Die Mindestvoraussetzungen, um Adliger zu werden, werden im Spiel erörtert.
                </p>
                
                <p>
                    Ehemalige Adlige befolgen den Adelskodex, sofern anwendbar.
                </p>
                
                <h3>4.9. Namenswahl</h3>
                
                <p>
                    Die Administratoren behalten es sich vor, Nutzer aus dem Spiel zu 
                    entfernen, die einen Namen für ihren Charakter wählen, der in 
                    irgendeiner Form beleidigend, polemisch, negativ konnotiert ist 
                    oder nicht in das Fantasy-Setting des Spiels passt.
                </p>
                
                <h2>5. Privatsphäre</h2>
                
                <p>
                    Der Nutzer erkennt an, dass Aufgrund der technischen Beschaffenheit 
                    des Mediums jegliche seiner am Server eingehenden Daten aufgezeichnet 
                    werden können. Insbesondere wird Kommunikation der Nutzer gepuffert 
                    gespeichert, damit der Nutzer sie zu einem späteren Zeitpunkt einsehen 
                    kann.
                </p>

                <p>
                    Die Administratoren geben die Erklärung ab, es anzustreben, dass die 
                    vertrauliche Kommunikation der Spieler nur bei für den Spielfortbestand 
                    notwendigen Eingriffen eingesehen wird. Die Administratoren achten 
                    die Privatsphäre der Spieler entsprechend nach bestem Wissen und 
                    Gewissen.
                </p>

                <p>
                    Der Nutzer erkennt an, dass Kommunikation auf öffentlichen Kanälen und 
                    der in-game Zeitung grundsätzlich nicht den Charakter eines 
                    vertraulichen Gespräches besitzt.
                </p>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}


<!--

## Anonymisierung

Wenn du das Bedürfnis hast, dich im Internet unerkannt zu bewegen, dann haben wir dafür natürlich Verständnis. Wir müssen auf deine Anwesenheit dann aber leider verzichten. Wenn du uns über einen Anonymisierungsdienst erreichts oder dich nicht in der Lage siehst, uns eine echte Email-Adresse von dir zu geben, dann möchten wir dich auch nicht als Gast haben. Du kannst der Datenschutzerklärung entnehmen, wie wir mit deinen Daten umgehen. Wenn dir das nicht ausreicht, dann spiel einfach nicht.


## Ersatz für Verluste im Spiel

Ersatz für jede Form von Verlust im Spiel wird nicht geleistet. Auch dann nicht, wenn der Schaden direkt durch einen Entwickler oder einen Administrator entstanden ist.

## Bugausnutzung

Es ist verboten, Fehler im Spiel ("Bugs") auszunutzen. Fehler müssen gemeldet werden, dafür gibt es den Befehl `fehler` im Spiel.

Dies gilt grundsätzlich für alle Fehler im Spiel. Es gilt aber um so mehr, wenn ein Fehler mit einem wesentlichen Vorteil für den Ausnutzenden verbunden ist. Wir trauen jedem Spieler zu, einen solchen Fehler zu erkennen. Im Zweifelsfall werden wir da nicht groß diskutieren.

## Interaktion zwischen Charakteren des eigenen Kontos

Die Interaktion zwischen Charakteren des eigenen Kontos ist *nicht* verboten. Verboten ist aber, sich mit dem eigenen Char selbst zu unterstützen. Verboten ist ebenso,  Insbesondere ist es verboten, sich selbst mit den eigenen Charakteren in irgendeiner Form zu unterstützen.

Es ist allerdings erlaubt, Ausrüstung und Ingame-Zahlungsmittel zwischen den eigenen Charakteren weiterzugeben und mit verschiedenen Charakteren zu nutzen. Ebenso ist es erlaubt (und erwünscht), Ingame-Wohnraum (Spielerhäuser) mit allen Charakteren eines Spielerkontos zu nutzen.

## Spielervereinbarung (Nutzungsbedingungen)

(Hier die Verhaltensweisen, Strafen, etc.)

> Neu ist außerdem, dass Redditor mit der Nutzung des Dienstes erklären, dass sie nicht zuvor bereits dauerhaft gesperrt oder von der Plattform entfernt worden sind. Auch fällt bei den Hinweisen zum Nutzungszugriff auf, dass die Social-News-Plattform ihre Richtlinien zumindest optisch durch Stichpunkte übersichtlicher gestaltet.
>
> Unter den generellen Nutzungsbedingungen befindet sich jetzt zudem ein eigener Unterpunkt zur Privatsphäre, der direkt auf die Datenschutzrichtlinien verweist.

> Ich habe die Spielervereinbarung (Nutzungsbedingungen) und den Verhaltenskodex gelesen und erkenne beides als verbindlich an. (j)a/(N)ein

> Ich versichere, dass ich kein weiteres Spielerkonto in Taltanis habe, und dass ich auch in der Vergangenheit kein Spielerkonto hatte, das gesperrt war, als es gelöscht wurde. (j)a/(N)ein

-->