{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col">
    <h1>Frust, Stress, Streit und anderes Unheil im MUD</h1>
    <p class="lead">
        Es ist nicht immer alles Friede und Freude in einem MUD. Manchmal nervt 
        das Spiel, manchmal die Spielenden. Und manchmal ist es auch schlimmer. 
        Ein paar Worte dazu scheinen da angemessen.
    </p>
    <h2>Der Tod und andere Frustrationen im Spiel</h2>
    <p>
        Die meisten bunt bebilderten MMORPGs halten Frust möglichst von den Spielern fern. 
        Das mag damit zusammen hängen, dass man keine zahlenden Kunden vergraulen will. Die 
        es bei uns ja gar nicht erst gibt... *evillaugh*
    </p>
    <p>
        Nun, um es kurz zu machen: eine gewisse Frustration in unserem Spiel ist beabsichtigt. 
        Das der Tod einer Spielfigur eine spürbare Beeinträchtigung mitbringt ist so gewollt. 
        Das nicht jede Gilde alles gleich gut kann ebenso. Das Spielende für ihre Charaktere 
        entscheidungen treffen müssen, die unter Umständen nicht nur großartige Konsequenzen 
        nach sich ziehen, ist... Du ahnst es sicher schon. Wenn dich so etwas aufregt, dann wirst 
        du hier unter Umständen nicht glücklich werden.
    </p>
    <p>
        Nicht beabsichtigt ist: stundenlanges grinden und andere nervige Spielemechaniken. 
        Wenn du sowas entdeckst, dann frag ruhig mal höflich nach, ob das wirklich so gedacht
        ist. Wir sind auch nur Menschen.
    </p>
    <h2>Die Anderen und der öffentliche Raum</h2>
    <p>
        Absatz
    </p>
    <h2>Auf du und du mit Unbekannten</h2>
    <p>
        Absatz
    </p>
    <h2>Toxisches Verhalten im MUD</h2>
    <p>
      Man muss es ganz klar sagen: manche Spielende überschreiten jede Grenze, sowohl die des
      Anstandes als auch rechtliche. Und manche machen das ganz bewusst, in der Anonymität des
      Netzes. Und leider muss man auch sagen, dass uns Spielmachern da Grenzen gesetzt sind 
      in dem, was wir dagegen tun können. Schon weil wir immer erst hinterher aktiv werden können.
    </p>
    <p>
      Das bedeutet vor allem, dass du dich selbst schützen musst. Sei vorsichtig mit dem, 
      was du hier über dich erzählst. Und vor allem: reagiere, wenn dir hier auf unangenehme Art 
      begegnet wird. Das hier ist nicht der Ort, wo man sich bedrängen lassen muss. 
    </p>
    <p>
      Sollten rechtliche Schritte notwendig sein unterstützen wir euch natürlich. Im Rahmen dessen, 
      was gesetzlich möglich ist.
    </p>
  </div>
</div>
{% endblock %}
