{% extends "base.html" %}

{% block sidebar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light"  style="position: fixed;">
    <div class="container-fluid">
	    (Top)<br>
	    Wenn du neu bist...<br>
		Wenn du schon Erfahrung hast...<br>
		Wenn du des Spielens langsam müde wirst...<br>
		Wenn das Spiel für Dich wichtiger geworden ist als Dein RL...<br>
		Und wenn du im MUD immer wieder in Konflikte verwickelt wirst...
    </div>
</nav>		  
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
			    An die Spielerinnen und Spieler:
                <h1 class="card-title">Zu Gast in Taltanis</h1>
                
                <hr/>

                <p>
                    Unsere Spielerinnen und Spieler sind unsere Gäste. Also auch du. Wir geben dir die Möglichkeit, Zeit
                    bei uns zu verbringen, dich mit anderen zu treffen und gemeinsam mit ihnen (oder auch allein)
                    Abenteuer zu erleben. Wir haben viel Zeit darin investiert, dir den Spielstart möglichst leicht zu
                    machen. Und wir haben noch viel mehr Zeit darin investiert, dir darüber hinaus ein (hoffentlich)
                    spannendes Spiel anbieten zu können. Wir laden dich ein, dieses Spiel zu nutzen.
                </p>
                <p>
                    Wir erwarten aber natürlich auch etwas von dir. Wir erwarten nämlich, dass du dich hier auch wie ein
                    Gast benimmst. Also freundlich bist, "Bitte" und "Danke" sagst - und insgesamt dafür sorgst, dass
                    hier eine angenehme Stimmung herrscht. Wenn du das kannst, dann bist du uns willkommen.
                </p>
                <p>
                    Und wenn du das nicht kannst, dann gibt es eine ganz einfache Lösung: Sei <b>nicht</b> unser Gast.
                    Niemand zwingt dich, hier zu sein. Niemand will dann, dass du hier bist. Unser Gast sein zu dürfen
                    ist, wie man so schön sagt, ein Privileg. Aber kein Recht.
                </p>
                <p>
                    Also: Sei freundlich zu den Menschen, die das hier für dich entwickeln. Sei freundlich zu den
                    Menschen, die mit dir gemeinsam das Spiel nutzen wollen. Sei höflich, sei rücksichtsvoll und begegne
                    allen anderen mit gutem Willen und Respekt. Dann freuen wir uns, dich bei uns begrüßen zu dürfen.
                </p>
                <h2>
                    Wenn du neu bist...
                </h2>
                <p>
                    ..., dann sei ruhig neugierig auf das Spiel. Sieh Dir alles an, probier' alles aus. So ein MUD, mit
                    der ganzen Tipperei, ist ein ungewohntes Spielkonzept, und es dauert eine Zeit, bis der Umgang damit
                    leicht fällt. Viel zu lesen gibt aus außerdem, das braucht ja auch seine Zeit. Aber nach
                    einer gewissen Eingewöhnung wird das alles viel leichter und schließlich sogar ganz
                    selbstverständlich. Und dann macht es richtig Spaß! Versprochen!
                </p>
                <p>
                    Wenn du neu bist in der MUD-Welt, dann denk aber bitte auch dran, dass hier andere Menschen
                    beteiligt sind. Wie es im Internet üblich ist, transportiert der Text nur sehr unvollkommen, was für
                    ein Mensch an der Tastatur sitzt. Das heißt, dass die anderen Spieler dich vielleicht nicht so
                    erleben, wie du dich selber wahrnimmst. Und andererseits bedeutet es auch, dass du dir beim
                    Kennenlernen der anderen Spieler ruhig Zeit lassen solltest. Ein bekanntes Meme lautet: "Im Internet
                    weiß niemand, dass du ein Hund bist." Es weiß aber auch leider niemand, dass du vielleicht
                    schüchtern, leise oder verletzlich bist. Und andererseits weißt <i>du</i> nicht, ob dein Gegenüber
                    nicht vielleicht sogar ein richtig <i>blöder</i> Hund ist. Lass Dir Zeit damit, jemandem zu
                    vertrauen - vor allem wenn es darum geht, etwas über Dich im RL (<i>"real life"</i>) zu verraten!
                    Und denk auch daran, dass sich Beziehungen verändern. Eine Information über dich kannst Du auch
                    später noch geben - aber wenn sie erstmal raus ist, kannst du sie nicht mehr zurückholen. Und
					dann ist vielleicht sogar schon eine Email-Adresse zu viel.
                </p>
                <p>
                    Lass Dich aber trotz all dieser Hinweise nicht davon abhalten, das Gute in den anderen Spielern zu
                    sehen. Und Dir einen zuverlässigen Freundeskreis im Spiel zu suchen.
                </p>
                <h2>
                    Wenn du schon Erfahrung hast...
                </h2>
                <p>
                    ..., dann werden deine Finger schon wie von selbst das Gewünschte tippen. Und dann müssen wir Dir
                    auch nichts über die Schwierigkeiten innerhalb der Beziehungen im MUD erzählen. Du hast mit
                    Sicherheit schon einiges erlebt in dieser Hinsicht. Vielleicht als Zeuge, vielleicht als Opfer -
                    aber vielleicht auch als Täter. Bestimmt hast du aber auch positive Beispiele erlebt? Dann wäre es
                    schön, wenn du dich an denen orientieren würdest. Wenn wir alle ein bisschen achtsam miteinander
                    umgehen, wird es bestimmt auch für alle nett. Und wenn mal jemand spinnt, dann kannst du den ja
                    vielleicht auch einfach lassen. Und sich an andere Spieler halten. (Außer es ist richtig schlimm,
                    dann wendest du dich bitte an einen Administrator.)
                </p>
                <p>
                    Und sicherlich hast du auch irgendwann mal Hilfe gebraucht, als du neu warst. Und auch bekommen? Es wäre
                    schön, wenn du dich hier von Zeit zu Zeit um jemanden kümmern würdest, der noch nicht so viel
                    Erfahrung hat wie du.
                </p>
                <h2>
                    Wenn du des Spielens langsam müde wirst...
                </h2>
                <p>
                    ..., dann ist es vielleicht an der Zeit, eine Pause zu machen. Oder etwas ganz anderes? Viele
                    Spieler machen in dieser Situation den Schritt nach vorn und werden Adelige. Das funktioniert aber
					oft nur kurz. Andere halten sich weiter im Spiel auf und agieren da ihre Langeweile aus. Oft nicht
					sehr konstruktiv. Oder sie fordern mehr Content, für "verdiente Spieler" - was auch nicht funktioniert.
                    Wenn sich das Spiel für dich leer anfühlt, wenn du dich
                    häufiger nach dem Sinn fragst oder dich im Spiel nur noch ganz mechanisch beschäftigst, dann ist es
                    vermutlich ein guter Zeitpunkt, langsam Abschied zu nehmen. Und sich anderen Themen zuzuwenden.
                    Du kannst ja nach einiger Zeit mal wieder reinschauen, vielleicht ist es dann wieder spannend.
                </p>
                <h2>Wenn das Spiel für Dich wichtiger geworden ist als Dein RL...</h2>
                <p>
                    ..., dann solltest Du das nicht auf die leichte Schulter nehmen. Für manche Menschen sind Spiele wie
                    dieses einfach ein bisschen <i>zu</i> reizvoll. Und das Spielen nimmt dann gern ein bisschen <i>zu
                    viel</i> Raum ein, um sich noch mit einem "gesunden" Leben vereinbaren zu lassen. Wir helfen dir
                    gern, indem wir dir den Zugriff auf dein Konto beschränken. Sieh hierzu mal in den Einstellungen
                    deines Kontos nach. Aber vielleicht ist das auch nicht ausreichend. Dann solltest du dir Hilfe
                    außerhalb von unserem MUD suchen. Ernsthaft: im RL hast du nur ein Leben. Und kein Spiel ist es
                    wert, dort etwas zu verpassen.
                </p>
                <h2>Und wenn du im MUD immer wieder in Konflikte verwickelt wirst...</h2>
                <p>
                    ..., dann geh einfach weg. Egal ob du den Ärger verursachst oder nur anziehst - wir brauchen hier
                    beides nicht.
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock %}
