{% extends "base.html" %}

{% block sidebar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light"  style="position: fixed;">
    <div class="container-fluid">
	    1. Punkt<br>
		2. Punkt<br>
		3. Punkt
    </div>
</nav>		  
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Kampf</h1>

                <hr/>

                <p  class="lead">
                    Erster Absatz.
                </p>
                <p>
                    Zweiter Absatz.
                </p>

                <h2>1. Unter-Überschrift</h2>

                <p>
                    Absatz
                </p>
                <p>
                <ul>
                    <li>
                        Listenpunkt 1
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock %}
