{% extends "base.html" %}

{% block sidebar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light"  style="position: fixed;">
    <div class="container-fluid">
	    Erste Schritte<br>
		MUD-Clients<br>
		Zugangsdaten
    </div>
</nav>		  
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">


        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Alles für den Spielstart</h1>

                <hr/>

                <p  class="lead">
                    Du bist neu in Taltanis oder sogar ganz neu in der Welt der MUDs? Dann findest Du auf dieser Seite alle Informationen für einen möglichst einfachen Einstieg.
                </p>
                <p>
                    Zunächst einmal: lass dich von dem "textbasierten" Spiel nicht abschrecken! Am Anfang ist es
                    ungewohnt, aber schon nach kurzer Zeit geht alles fast wie von allein. Und wir tun unser
                    möglichstes, um dir den Einstieg leicht zu machen.
                </p>

                <h2>Erste Schritte</h2>

                <p>
                    Auf unserer Webseite haben wir Informationen zusammengetragen, die für den Spielstart interessant
                    sein werden. Du solltest dir also alle Fragen hier beantworten können. Für den Anfang reicht aber
					auch folgende Liste:
                </p>
                <p>
                <ul>
                    <li>
                        Für die Anmeldung hier brauchst du einen Benutzernamen, eine gültige Email-Adresse und ein
						sicheres Passwort. Dein Benutzername wird auch der Name deiner ersten Spielfigur sein. Dein
						Spielerkonto kannst du dir hier erstellen: >>REGISTRIEREN<<
                    </li>
                    <li>
                        Für den einfachen Einstieg empfehlen wir dir unseren Web-Client zum spielen. Dazu musst du einfach
						nur oben auf dieser Webseite auf "Jetzt spielen!" klicken. (Aber natürlich musst du dich vorher
						registrieren.)
                    </li>
					<li>
					    Nachdem du dein Konto bei uns angelegt hast, erstellst du deine erste Spielfigur. Dafür haben
						wir ein kleines Tutorial vorbereitet, in dem du auch gleich lernst, wie du deine Spielfigur
						steuern kannst. Für dieses Tutorial solltest du zwanzig Minuten deiner Zeit einplanen.
					</li>
                    <li>
					    Nach dem Tutorial gelangst du mit deiner Spielfigur in einen geschützten Bereich. Dort kannst
						du weitere Fertigkeiten im Umgang mit deiner Figur lernen. Und dort findest du auch eine erste
						Ausrüstung.
                    </li>
                    <li>
                        Du kannst das Tutorial jederzeit für eine kleine Pause unterbrechen. Und Du kannst auch
                        jederzeit ausloggen und später weiter machen. Deine Fortschritte bleiben erhalten.
                    </li>
                    <li>
					    Später kannst du dir die Möglichkeit erspielen, weitere Charaktere anzulegen. Mit denen du dann
						direkt ins Spiel gelangst, ohne Umweg über den geschützten Bereich.
                    </li>
                </ul>

                <h2>MUD-Clients</h2>

                <p>MUD-Clients sind spezielle Programme, die zum Spielen von MUDs entwickelt wurden.</p>
                <p>
                    Ein Beispiel für einen MUD-Client ist unser Browser-Client. Den erreichts Du, wenn Du oben auf
                    unseren Webseiten auf "Jetzt spielen" klickst. Dieser Client ist gut geeignet für den Anfang. Und
                    auch gut geeignet, um zwischendurch mal ein wenig zu spielen.
                </p>
                <p>
                    Wenn Du aber intensiver spielen willst, dann möchtest Du vielleicht irgendwann ein Programm
                    benutzen, das Dir mehr Möglichkeiten bietet. In der folgenden Tabelle findest Du eine Übersicht.
                </p>
                <p>
                    (Tabelle)
				</p>
                <p>
                    Wir empfehlen Dir Mudlet. Außer Du benutzt einen Screenreader, dann wäre vielleicht MUSHclient die
                    bessere Wahl. (Und unter Linux?)
                </p>
				
                <h2>Zugangsdaten</h2>

                <ul>
                    <li>URL</li>
                    <li>IP-Adresse</li>
                    <li>Port (verschlüsselt)</li>
                    <li>Port (unverschlüsselt)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
