{% extends "base.html" %}

{% block sidebar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light"  style="position: fixed;">
    <div class="container-fluid">
	    Erste Schritte<br>
		MUD-Clients<br>
		Zugangsdaten
    </div>
</nav>		  
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">


        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Völker in Taltanis</h1>

                <hr/>

                <p  class="lead">
                    Erster Absatz.
                </p>
                <p>
                    Zweiter Absatz
                </p>

                <h2>Attribute</h2>

                <p>
                    Charaktere werden durch Attribute beschrieben.
                </p>
                <p>
                <ul>
                    <li>
                        Stärke
                    </li>
                    <li>
                        Geschicklichkeit
                    </li>
					<li>
					    Intelligenz
					</li>
                    <li>
					    Weisheit
                    </li>
                    <li>
                        Charisma
                    </li>
                    <li>
					    Konstitution
                    </li>
                    <li>
					    Resilienz
                    </li>
                </ul>

                <h2>Weitere Werte</h2>

                <p>
                    Weitere Werte ergeben sich aus den Attributen oder aus anderen Umständen.
                </p>
                <ul>
                    <li>Trefferpunkte</li>
                    <li>Zauberpunkte</li>
                    <li>Mana</li>
                    <li>Karma</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
