@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/*
    font-family: "CormorantInfant", regular;
    font-family: "OpenSans", regular;
    font-family: "RobotoSlab", regular;
*/
/*
.card-title {
    font-family: "Cormorant Infant", regular;
}
*/
/*
p {
    font-family: "OpenSans", regular;
}
*/
/*
h1 {
    font-family: "Cormorant Infant", regular;
}

h2 {
    font-family: "CormorantInfant", regular;
}

p {
    font-family: "Roboto Slab", regular;
}

*/
body {
    /*font-family: "Cormorant Infant", regular;*/
    /*font-family: "OpenSans", regular;*/
    /*font-family: "RobotoSlab", regular;*/
    font-family: "Roboto", regular;
    font-family: "Cormorant Garamond", regular;
    font-family: "Roboto Slab", regular;
}
/*
.test1 {font-family: "Cormorant Infant", regular;}
.test2 {font-family: "Open Sans", regular;}
.test3 {font-family: "Roboto Slab", regular;}
*/

h1 {
    font-family: "Cormorant Infant", regular;
}

h2 {
    font-family: "CormorantInfant", regular;
}